nav {
  color: #FFFFFF; 
  background-color: rgba(43, 39, 34, 0.80);
  background-image: url("/images/45-degree-fabric-light.png");
  font-family: Bungee;
  font-size: 1em;
  padding-top: 3vw;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 120px;
  width: 100%;
  
  /*Keeps nav bar fixed and at the top of the page*/
  position: fixed;
  top: 0;

  /*flex container*/
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

}

.write-new-or-scroll {
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
}

.write-new {
  color: #eaeaea; 
}

.scroll-down {
  color: #eaeaea; 
  display: flex;
  justify-content: center;
  padding-top: 1vw;
}

.write-new:hover, .scroll-down:hover {
  color: #ff0000; 
}

@media only screen and (min-width: 1024px) {
  
  nav {
    padding: 40px
  }
}

