nav {
  color: #FFFFFF; 
  background-color: rgba(43, 39, 34, 0.80);
  background-image: url("/images/45-degree-fabric-light.png");
  font-family: Bungee;
  font-size: 1em;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 120px;
  width: 100%;
  
  /*Keeps nav bar fixed and at the top of the page*/
  position: fixed;
  top: 0;

  /*flex container*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.write-new-div {
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
}

.down-arrows {
  color: #ff0000; 
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  
  nav {
    padding: 51.15px;
  }
}

