/* Styling properties for new tweet form *********************************************************/

#tweet-status {
  color: #ff0000;
  font-weight: bold;
  font-size: 0.85em;
  display: none;
  padding-top: 25px;
  text-align: center;
}

#tweet-submit {
  margin: 1em 0em 1.5em;
}

#tweet-text {
  width: 100%;
  background-color: #f4f1ec;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-bottom: solid #545149;
  outline: none;
}

#tweet-text::placeholder {
  font-size: 1em;
  font-weight: bold;

}

.tweet-button-counter {
  font-family: Bungee;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
}

button {
  color: #FFFFFF; 
  background-color: #b34bbcc0;
  border-radius: 4px;
  box-shadow: 5px 5px #999;
}

button:hover {
  background-color: #792681c0; 
}

button:active {
  box-shadow: 1px 1px #666;
  transform: translateY(-5px);
  transform: translateX(5px);
}

.redHighlight {
  color: red;
} 

